* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

.bg {
  // background-image: url(../assets/bg.jpg) no-repeat center center;
  background-color: #0c0d1a;
  background-size: cover;
}
