$color-primary: #39bac8 !important;
$color-secondary: #fff !important;
$color-tertiary: #0c0d1a !important;
$color-tertiary-main: #161729 !important;
$color-tertiary-light: #363750 !important;
$color-grey: #5c5f91 !important;
